<table id="products-table" class="configuration-table">
  <colgroup>
    <col style="width: 45%">
    <col style="width: 45%">
    <col style="width: 10%">
  </colgroup>
  <thead>
  <tr>
    <th class="sortable-header" data-column="0">
      <div class="header-content">
        <span class="header-text">Product name</span>
        <div class="sort-icons">
          <%= image_tag "sort-up.svg", class: "sort-icon sort-asc" %>
          <%= image_tag "sort-down.svg", class: "sort-icon sort-desc" %>
        </div>
      </div>
    </th>
    <th class="sortable-header" data-column="1">
      <div class="header-content">
        <span class="header-text">Tax code</span>
        <div class="sort-icons">
          <%= image_tag "sort-up.svg", class: "sort-icon sort-asc" %>
          <%= image_tag "sort-down.svg", class: "sort-icon sort-desc" %>
        </div>
      </div>
    </th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% tax_codes.each do |tax_code| %>
      <tr>
        <td><%= tax_code[:productName] %></td>
        <td><%= tax_code[:taxCode] %></td>
        <td>
          <%= link_to 'Remove'.html_safe, remove_tax_code_configuration_path(:product_name => tax_code[:productName]), :method => :delete %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= javascript_tag do %>
  $(document).ready(function() {
    $('#products-table').dataTable({
      "dom": "t",
      "paging": false,
      "ordering": true,
      "columns": [
        null,
        null,
        { "orderable": false }
      ]
    });
    var productsTable = $('#products-table').DataTable();

    $('#products-table thead').on('click', 'th.sortable-header, th.sortable-header *', function(e) {
      var th = $(this).closest('th');
      var columnIndex = parseInt(th.data('column'), 10);
      var currentOrder = productsTable.order();
      var direction = 'asc';

      if (currentOrder.length && currentOrder[0][0] === columnIndex) {
        direction = currentOrder[0][1] === 'asc' ? 'desc' : 'asc';
      }

      productsTable.order([columnIndex, direction]).draw();

      // Update icon state
      $('#products-table thead th .sort-icon').removeClass('active');
      th.find('.sort-' + (direction === 'asc' ? 'asc' : 'desc')).addClass('active');
    });
  });
<% end %>
